*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Urbanist', sans-serif;
    max-height: 100vh;
    background-color: rgb(250, 245, 236);
}

html{
    scroll-behavior: smooth;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
img{
    max-width: 100%;
    max-height: 100%;
}

.flex-centring{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
